<div class="container">
    <h2>Quản lý sản phẩm</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Ảnh</th>
                <th>Mã</th>
                <th>Tên sản phẩm</th>
                <th>Giá sản phẩm</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products; index as i">
                <td width="20" class="text-center">{{ i + 1 }}</td>
                <td width="60">
                    <img
                        [src]="product.imageUrl"
                        alt="{{ product.name }}"
                        width="50"
                        height="50"
                    />
                </td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td width="150">
                    <button
                        class="btn btn-danger"
                        (click)="removeProduct(product.id!)"
                    >
                        Xóa
                    </button>
                    <button class="btn btn-primary ms-2">Sửa</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
