<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
            class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
            Sản phẩm
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="tw-grid tw-grid-cols-3 justify-center tw-gap-16">
            <div *ngFor="let product of products">
                <a class="" routerLink="/product/{{ product.id }}">
                    <div>
                        <img
                            class="tw-rounded"
                            src="{{ product.imageUrl }}"
                            alt=""
                        />
                        <h3 class="tw-no-underline tw-text-red-500 mt-2">
                            {{ product.name }}
                        </h3>
                        <p class="tw-flex tw-justify-evenly tw-text-2xl">
                            <span>
                                {{
                                    product.price
                                        | currency : "VND" : "symbol" : "1.3-3"
                                }}
                            </span>
                            <span>
                                {{ product.releaseDate | date : "dd-MM-yyyy" }}
                            </span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
